$palette-light: (
  text: (
    primary: rgb(3, 3, 3),
    inverted: rgb(255, 255, 255),
    secondary: rgb(97, 97, 97),
    disabled: rgb(143, 143, 143),
  ),
  bg: (
    primary: rgb(255, 255, 255),
    inverted: rgb(15, 15, 15),
    additive: rgba(0, 0, 0, 0.05),
    additive-2x: rgba(0, 0, 0, 0.1),
    additive-3x: rgba(0, 0, 0, 0.15),
    overlay-solid: rgb(0, 0, 0),
    overlay-heavy: rgba(0, 0, 0, 0.8),
    overlay-medium: rgba(0, 0, 0, 0.6),
    overlay-medium-light: rgba(0, 0, 0, 0.3),
    overlay-light: rgba(0, 0, 0, 0.1),
  ),
  icon: (
    base: rgb(143, 143, 143),
    active: rgb(97, 97, 97),
    disabled: rgb(204, 204, 204),
  ),
  stroke: (
    outline: hsla(0, 0%, 0%, 0.1),
    secondary: hsl(226, 100%, 97%),
  ),
  shadow: (
    primary: hsla(0, 0%, 0%, 0.25),
  ),
);
$palette-dark: (
  text: (
    primary: rgb(255, 255, 255),
    inverted: rgb(3, 3, 3),
    secondary: rgb(204, 204, 204),
    disabled: rgb(143, 143, 143),
  ),
  bg: (
    primary: rgb(15, 15, 15),
    inverted: rgb(255, 255, 255),
    additive: rgba(255, 255, 255, 0.05),
    additive-2x: rgba(255, 255, 255, 0.1),
    additive-3x: rgba(255, 255, 255, 0.15),
    overlay-solid: rgb(255, 255, 255),
    overlay-heavy: rgba(255, 255, 255, 0.8),
    overlay-medium: rgba(255, 255, 255, 0.6),
    overlay-medium-light: rgba(255, 255, 255, 0.3),
    overlay-light: rgba(255, 255, 255, 0.1),
  ),
  icon: (
    base: rgb(204, 204, 204),
    active: rgb(255, 255, 255),
    disabled: rgb(143, 143, 143),
  ),
  stroke: (
    outline: rgba(255, 255, 255, 0.1),
    secondary: rgb(0, 4, 15),
  ),
  shadow: (
    primary: hsla(0, 0%, 100%, 0.25),
  ),
);

$palette-colours: (
  clr-blue: (
    10: rgba(60, 131, 246, 0.1),
    20: rgba(60, 131, 246, 0.2),
    30: rgba(60, 131, 246, 0.3),
    40: rgba(60, 131, 246, 0.4),
    50: rgba(60, 131, 246, 0.5),
    60: rgba(60, 131, 246, 0.6),
    70: rgba(60, 131, 246, 0.7),
    80: rgba(60, 131, 246, 0.8),
    90: rgba(60, 131, 246, 0.9),
    100: rgba(60, 131, 246, 1),
  ),
  clr-indigo: (
    10: rgba(100, 103, 242, 0.1),
    20: rgba(100, 103, 242, 0.2),
    30: rgba(100, 103, 242, 0.3),
    40: rgba(100, 103, 242, 0.4),
    50: rgba(100, 103, 242, 0.5),
    60: rgba(100, 103, 242, 0.6),
    70: rgba(100, 103, 242, 0.7),
    80: rgba(100, 103, 242, 0.8),
    90: rgba(100, 103, 242, 0.9),
    100: rgba(100, 103, 242, 1),
  ),
  clr-red: (
    10: rgba(246, 92, 92, 0.1),
    20: rgba(246, 92, 92, 0.2),
    30: rgba(246, 92, 92, 0.3),
    40: rgba(246, 92, 92, 0.4),
    50: rgba(246, 92, 92, 0.5),
    60: rgba(246, 92, 92, 0.6),
    70: rgba(246, 92, 92, 0.7),
    80: rgba(246, 92, 92, 0.8),
    90: rgba(246, 92, 92, 0.9),
    100: rgba(246, 92, 92, 1),
  ),
  clr-green: (
    10: rgba(92, 246, 92, 0.1),
    20: rgba(92, 246, 92, 0.2),
    30: rgba(92, 246, 92, 0.3),
    40: rgba(92, 246, 92, 0.4),
    50: rgba(92, 246, 92, 0.5),
    60: rgba(92, 246, 92, 0.6),
    70: rgba(92, 246, 92, 0.7),
    80: rgba(92, 246, 92, 0.8),
    90: rgba(92, 246, 92, 0.9),
    100: rgba(92, 246, 92, 1),
  ),
);
