@use 'src/styles/abstract/' as *;

.topLevel {
  display: flex;
  position: relative;
}

.relative {
  position: relative;
  overflow-x: hidden;
}

.scrollContainer {
  overflow-x: scroll;
  touch-action: manipulation;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  display: flex;
  gap: $size-8;

  align-items: center;
}
.carets {
  z-index: 10;
  position: absolute;
  top: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.caretLeft {
  left: 0;
  padding-right: $size-18;
  background: linear-gradient(90deg, var(--bg-primary) 40%, transparent);
}
.caretRight {
  right: 0;
  padding-left: $size-18;

  justify-content: flex-end;
  background: linear-gradient(-90deg, var(--bg-primary) 40%, transparent);
}

@include mq(small) {
  .topLevel::after {
    content: '';
    position: absolute;
    bottom: -$size-2;
    left: 0;
    width: 100%;
    height: $size-4;
    background: linear-gradient(180deg, var(--bg-additive-2x), transparent);
  }

  .carets {
    display: none;
  }
}
