@use 'src/styles/abstract/' as *;

.overlay {
  position: fixed;
  inset: 0;
  z-index: 8000;
  background-color: rgba(0, 0, 0, 0.25);

  overflow: hidden;

  &.closing {
    animation: animateOverlay 350ms ease-in-out forwards;
    animation-direction: reverse;
  }
  &.opening {
    animation: animateOverlay 350ms ease-in-out forwards;
  }
}

.bgCroper {
  position: fixed;
  inset: 0;
  margin: auto;
  overflow: hidden;

  transform-origin: center top;

  transform: translateY(25px) scale(0.94);
  border-radius: $radius-3xl;
  outline: 100px solid var(--bg-inverted);
  box-shadow: inset 0px 0px 20px 10px var(--bg-additive-2x),
    inset 0px 0px 20px 5px var(--bg-additive-2x);

  &.opening {
    animation: inOut 200ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  &.closing {
    animation: inOut 100ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
    animation-direction: reverse;
  }

  @keyframes inOut {
    from {
      transform: translateY(0px) scale(1);
      border-radius: 0;
    }
  }
}

.dragBar {
  position: sticky;
  display: block;
  top: 0;

  padding: $size-14;
  width: 100%;
  height: $size-6;

  background: linear-gradient(
    180deg,
    var(--bg-secondary) 50%,
    transparent 100%
  );

  touch-action: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;

    height: $size-8;
    width: 50%;
    border-radius: $radius-full;

    backdrop-filter: invert(0.2) blur(50px);
    -webkit-backdrop-filter: invert(0.2) blur(50px);
    box-shadow: $box-shadow-sm;

    touch-action: none;
  }
}

.container {
  position: fixed;
  z-index: 9000;
  display: block;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  width: 100%;
  max-height: 84dvh;
  max-width: $screen-w-lg;
  padding: 0;

  border: none;

  background-color: var(--bg-secondary);
  border-radius: $radius-3xl;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);

  @include mq(medium) {
    transform: translate(-50%, 0) translate3d(0, 0, 0);
    top: initial;

    bottom: 0;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  will-change: transform;
  --transition-speed: 400ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

  &.closing {
    animation: animateModalDesktop var(--transition-speed)
      var(--transition-timing) forwards;
    animation-direction: reverse;

    @include mq(medium) {
      animation: animateModalMobile var(--transition-speed)
        var(--transition-timing) forwards;
      animation-direction: reverse;
    }
  }
  &.opening {
    animation: animateModalDesktop var(--transition-speed)
      var(--transition-timing) forwards;

    @include mq(medium) {
      animation: animateModalMobile var(--transition-speed)
        var(--transition-timing) forwards;
    }
  }
}

@keyframes animateModalMobile {
  from {
    transform: translate(-50%, 150%) translate3d(0, 0, 0);
    opacity: 0;
  }
}
@keyframes animateModalDesktop {
  from {
    transform: translate(-50%, 250%) translate3d(0, 0, 0);
    opacity: 0;
  }
}
@keyframes animateOverlay {
  from {
    opacity: 0;
  }
}
