@use 'src/styles/abstract/' as *;

.overlay {
  position: absolute;
  inset: 0;
  z-index: 8000;
  background-color: rgba(0, 0, 0, 0.25);

  &.closing {
    animation: animateOverlay 350ms ease-in-out forwards reverse;
  }
  &.opening {
    animation: animateOverlay 350ms ease-in-out forwards;
  }
}

.dragBar {
  position: absolute;
  top: -$size-5;
  left: 50%;
  transform: translateX(-50%);

  padding: $size-14;
  width: 50%;
  height: $size-6;

  touch-action: none;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: $size-8;
    width: 100%;
    border-radius: $radius-full;

    backdrop-filter: invert(0.5) blur(50px);
    -webkit-backdrop-filter: invert(0.5) blur(50px);
    box-shadow: $box-shadow-md;

    touch-action: none;
  }
}

.container {
  position: fixed;
  z-index: 9000;

  isolation: isolate;

  width: 100%;
  max-width: $screen-w-sm;

  background-color: var(--bg-secondary);
  border-radius: $radius-3xl;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);

  @include mq(medium) {
    transform: translate(-50%, 0) translate3d(0, 0, 0);
    top: initial;

    bottom: 0;
    height: 92%;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  will-change: transform;
  --transition-speed: 300ms;

  &.closing {
    animation: animateModalDesktop var(--transition-speed)
      cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    animation-direction: reverse;

    @include mq(medium) {
      animation: animateModalMobile var(--transition-speed)
        cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
      animation-direction: reverse;
    }
  }
  &.opening {
    animation: animateModalDesktop var(--transition-speed)
      cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;

    @include mq(medium) {
      animation: animateModalMobile var(--transition-speed)
        cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }
  }
}

@keyframes animateModalMobile {
  from {
    transform: translate(-50%, 150%) translate3d(0, 0, 0);
    opacity: 0;
  }
}
@keyframes animateModalDesktop {
  from {
    transform: translate(-50%, 250%) translate3d(0, 0, 0);
    opacity: 0;
  }
}
@keyframes animateOverlay {
  from {
    opacity: 0;
  }
}
